body {
  padding-top: 70px;
  padding-bottom: 30px;
  
}

.theme-showcase > p > .btn {
  margin: 5px 0;
  margin-top: 20px;
}

.theme-showcase .navbar .container {
  width: auto;
  margin-top: 20px;
}

.row {
	margin-left: 20px;
}

td, th {
	padding: 7px; border:#4e95f4 1px solid;
}

tr { 
	background: #b8d1f3;
}

th {
	background: #337ab7;
	background-image: linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
	color: white;
}

tr:nth-child(odd) {
	background: #b8d1f3;
}

tr:nth-child(even) {
	background: #dae5f4;
}

.btn-block{
	height:100%;
	width:100%;
}