body {
  padding-top: 70px;
  padding-bottom: 30px;
  
}

.theme-showcase > p > .btn {
  margin: 5px 0;
  margin-top: 20px;
}

.theme-showcase .navbar .container {
  width: auto;
  margin-top: 20px;
}

.row {
	margin-left: 20px;
}